.mainButtonBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.clickedEffect{
  --point-color: #599aad;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-white);
  pointer-events: none;
  user-select: none;
}

